SERVER_PORT=3000
SECURE_COOKIES=false

DATABASE_USERNAME=root
DATABASE_PASSWORD=root
DATABASE_DBNAME=memoria
DATABASE_PORT=5432

STORAGE_ENDPOINT=/
STORAGE_REGION=ap-southeast-3
STORAGE_ACCESS_KEY=memoria
STORAGE_SECRET_KEY=memoria
STORAGE_BUCKET=memoria
STORAGE_USE_PATH_STYLE=true